.git
.github
.gitignore
vendor
node_modules
.env
.env.*
!.env.example
*.log
server.log
/public/build
/public/hot
/public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.DS_Store
.phpunit.result.cache
.phpunit.cache
stitch_designs
docs
tests
